body
{
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
#header 
{
    width: 100%;
    background-image: url(images/header\ bg.jpg);
    color: white;
    
}
.row
{
    margin-left: 150px;
}
.header-link
{
    display: flex;
    padding: 20px;
    list-style-type: none;
}
.header-link a
{
    color: white !important;
    font-size: 1.1rem;
    padding: 8px;
}
#name
{
    list-style-type: none;
    display: flex;
    text-decoration: none;
}
.navbar
{
    background-color: rgb(236, 229, 229) !important;
}
.footer-about a
{
    text-decoration: none;
    color:rgb(79, 77, 77);
}
.footer-about li
{
    list-style-type: none;
}
.navbar-end
{
    background-color: black;
}
.navbar-end-1
{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: white;
}
